<ion-view  view-title="To-Do-List">
 
    	<!--http://www.tutorialspoint.com/ionic/ionic_buttons.htm  Link Helped to change background colour-->
        <ion-content style="background-color:#B0C4DE;">
            <ion-list>
                <h3><P><center><b><font color="white">Tasks List</font></b></center></P></h3>
                 <div class="list" >
                <!-- Background Colour For Task Button-->
                <div style="background-color:#337DFF" class="item item-divider"><font color="white"><center>Work-Tasks</center></font></div> 
              
                          <ion-item  ng-repeat="tasks in data.tasks">
                         <h2>{{ tasks.title }}</h2>
                       </ion-item>   
                  <!-- Background Colour For Task Button-->
                <div style="background-color:#FF3333"  class="item item-divider"><font color="white"><center>Home-Tasks</center></font></div>
                     
					 		
                          <ion-item  ng-repeat="tasks in data.tasks">
                         <h2>{{ tasks.title2 }}</h2>
                       </ion-item>   
					 <!-- Background Colour For Task Button-->	
                     
					 <div style="background-color:#FFC300" class="item item-divider"><font color="white"><center>Extra-Tasks</center></font> </div>
                     	<!-- Add Task To the Extra-Task List-->
                         <ion-item  ng-repeat="tasks in data.tasks">
                         <h2>{{ tasks.title3 }}</h2>
							 
                       </ion-item>   
                      <!-- Backgroud Image Of NotePad http://www.w3schools.com/tags/tag_img.asp Link to help -->
                     <img src="img/notepad.png" align="right" style="width:128px;height:128px;">
                              

          </div>
        </ion-list>
     </ion-content>
    </ion-view>

