<ion-tabs class=" tabs-stable tabs-full tabs-icon-top">

	<!-- Tabs and Icons Used Icons found on  http://ionicons.com/ -->
  <ion-tab title=" Task-List" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/TaskList">
    <ion-nav-view name="tab-TaskList"></ion-nav-view>
  </ion-tab>
	
	<!-- Tabs and Icons Used Icons found on  http://ionicons.com/ -->
  <ion-tab  title="New-Item" icon-off="ion-plus-round" icon-on="ion-plus-round"   href="#/tab/createTask">
    <ion-nav-view name="tab-createTask"></ion-nav-view>
  </ion-tab>

</ion-tabs>

